In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Developers")

Hello Developers

In [3]:
#numpy

lst = [1,2,3,4,5,6,7,8,9]

In [4]:
%timeit [i ** 2 for i in lst]

2.61 µs ± 65.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [8]:
import numpy as np

arr = np.array(lst)

arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

%timeit arr ** 2

In [11]:
arr1 = np.random.randint(10,100, size = (5,6))

arr1

array([[60, 18, 21, 82, 14, 75],
       [82, 79, 65, 73, 67, 26],
       [82, 26, 82, 28, 52, 33],
       [59, 41, 45, 62, 88, 47],
       [69, 89, 77, 86, 11, 30]])

In [13]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import pandas as pd

df = pd.Dataframe(data = arr1)

#print this data

df

AttributeError: ignored